<% if flash[:alert] %>
  <span class="message-alert message" style="padding:20px;"><%= flash[:alert] %></span>

<% elsif flash[:notice] %>
  <span class="message-notice message" style="padding:20px;"><%= flash[:notice] %></span>

<% end %>